
<h5> <strong>Mes quêtes en cours:</strong> </h5>
<div id="resa-actual" class="resa-container">
  <%= render "../views/participations/current_participation.html.erb", participations: locals[:participations_current] %>
</div>

<h5> <strong>Mes quêtes passées:</strong> </h5>
<div id="resa-past" class="resa-container">
  <%= render "../views/participations/past_participation", participations: locals[:participations_past] %>
</div>
