<div class="d-flex justify-content-center">
  <h5 class="number-quests-current mt-3"> <strong>Mes quêtes en cours</strong><span><%= @profile.participations.currents.count %></span></h5>
</div>
<div id="resa-actual" class="resa-container">
  <%= render "../views/participations/current_participation.html.erb", participations: locals[:participations_current] %>
</div>

<div class="d-flex justify-content-center">
  <h5 class="number-quests-past mt-3"> <strong>Mes quêtes passées</strong><span><%= @profile.participations.pasted.count %></span></h5>
</div>
<div id="resa-past" class="resa-container">
  <%= render "../views/participations/past_participation", participations: locals[:participations_past] %>
</div>
