<!-- Button trigger modal -->
<div class="mx-4 mb-4">
  <button type="button" class="btn btn-color" data-toggle="modal" data-target="#reviewModal_<%= participation.id %>">
    <%= link_to 'Voir mon impact 🌚', comparisons_path(current_user) %>
    </button>
</div>

