// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: rgba(0, 0, 0, 0.6);
$light-gray: #F4F4F4;
$corail: #ff5d6c;
// $violet: #a46bad;
$violet: #6b52b7;

// background: linear-gradient(to right, #489460 0%, #508855 50%, #357455 100%) !important;


