.earth {
  text-align: center;
  max-height: 200px;
}

.graphics {
  height: 40vh;
  padding-top: 50px;
  & > div {
    width: 48px;
    height: 35vh;
    background-color: #F7F7FB;
  }
}

.foot_print_percent {
  width: 48px;
  background-color: #DEDDFA;
}

.foot_print_ecological {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.foot_print_carbon_1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.carbon_pertons {
  width: 48px;
  background-color: #DAB8F3;
}

.foot_print_carbon_2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.carbon_percents {
  width: 48px;
  background-color: #F6E5F5;
}

.full-earth {
  max-height: 100px;
}

.half-earth {
  max-height: 80px;
}
