// Specific CSS for your home-page
.content-wrapper {
  min-height: calc(100vh - 70px - 80px);
  background: white;
  padding-top: 20px;
}

.content-wrapper-home{
  background: white;
  height: 100vh;
}

.content-wrapper-quests-index{
  height: calc(100vh - 60px);
  position: relative;
  // background: white;
  background: linear-gradient(to bottom,#b6e2dd,#d3f6f4);
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.content-wrapper-quests-show{
  height: calc(100vh - 60px);
  position: relative;
  background: white;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.content-wrapper-profile-show{
  height: calc(100vh - 60px);
  position: relative;
  background: white;
  padding-top: 70px;
  display: flex;
  overflow: scroll;
}


.colibri {
  padding-left: -20px;
}

.btn-home{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%) !important;;
  border-radius: 25px;
  font-weight: bold;
  // display: inline-block;
  position: relative;
  width: 150px;
  height: 50px;
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    top: 0;
    left: 0;
    // background-color: $corail;
  }
  &::before {
    animation: sonar-effect 1s ease-in-out .1s infinite;
    color: white;
  }
}

@keyframes sonar-effect {
  100% {
    box-shadow: 0 0 0 5px $corail, 0 0 10px 10px $corail, 0 0 0 10px $corail;
    opacity: 0;
  }
}

h1 {
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-size: 33px;
}
