.card-product-wrapper {
  display: inline-block;
  width: 100%;
  flex: 0 0 auto;
}

#resa-actual {
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 20px;
}

#resa-past {
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 30px;
}

.number-quests-current span {
  border-radius: 50%;
  background: $corail;
  color: white;
  padding: 0px 9px 4px 9px;
  position: absolute;
  right: 56px;
  bottom: 458px;
}

.number-quests-past span {
  border-radius: 50%;
  background: $corail;
  color: white;
  padding: 0px 9px 4px 9px;
  position: absolute;
  right: 58px;
  bottom: 6px;
}

.number-quests {
  font-size: 23px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.card-product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px 0px 0px 0px;
}

.card-product-infos .column{
  padding-left: 10px;
  border-left: 1px double grey;
  position: absolute;
  left: 500px;
}

.btn-delete {
  font-size: 12px;
  color: grey;
  text-decoration: underline;
}

.btn-second {
  // position: absolute;
  // right: 0px;
  // bottom: 2px;
  // padding: 7px 10px;
}

@media all and (max-width: 500px) {

  .card-product {
    flex-direction: column;
    height: 100%;
    width: 97%;
    margin: auto;
    img {
      // width: 100%;
    }
  }
}
