.card-product-wrapper {
  display: inline-block;
  width: 100%;
  flex: 0 0 auto;
  padding: 10px;
}

#resa-actual {
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 30px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  position: relative;
}

.card-product img {
  height: 100%;
  width: 213px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos .column{
  padding-left: 10px;
  border-left: 1px double grey;
  position: absolute;
  left: 500px;
}

.btn-delete {
  font-size: 12px;
  color: grey;
}

.btn-second {
  // position: absolute;
  // right: 0px;
  // bottom: 2px;
  // padding: 7px 10px;
}

@media all and (max-width: 500px) {

  .card-product {
    flex-direction: column;
    height: 100%;
    width: 95%;
    margin: auto;
    img {
      width: 100%;
    }
  }
}
