#resa-actual {
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 20px;
}

#resa-past {
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 30px;
}

.number-quests-current span {
  border-radius: 50%;
  background: $corail;
  color: white;
  padding: 0px 9px 4px 9px;
  position: absolute;
  right: 55px;
  bottom: 477px;
}

.number-quests-past span {
  border-radius: 50%;
  background: $corail;
  color: white;
  padding: 0px 9px 4px 9px;
  position: absolute;
  right: 58px;
  bottom: 31px;
}

.number-quests {
  font-size: 23px;
}
