.profile-user-card{
  background: white;
  height: 90px;
  width: 160px;
  border-radius: 10px;
  padding: 10px 0px 20px 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.profile-username{
  font-size: 24px;
  color: #445255;
}

.profile-user-title{
  font-size: 16px;
  color: $corail;
}

.profile-user-infos{
  font-size: 20px;
  color: #445255;
}
