<div class="footer footer-links">
    <%= link_to cl_image_tag('personnal_wyybz1', height: 50, width: 50) %>
    <%= link_to cl_image_tag('quests_djp43v', height: 50, width: 50) %>
    <%= link_to cl_image_tag('world_zzwqbr', height: 50, width: 50) %>
    <%= link_to cl_image_tag('settings_fumqb8', height: 50, width: 50) %>
</div>
