<% if user_signed_in? %>
  <div class="navbar-items">
    <div class="title">
      <p>Explorateur</p>
    </div>
    <div class="avatar">
      <%= image_tag "steve-zissou.jpg", class: "avatar avatar-border" %>
    </div>
    <div class="badge">
      <%= image_tag "badge2.svg", height: 40, width: 40 %>
    </div>
  </div>
<% end %>
