<% if user_signed_in? %>
  <div class="navbar-items border-bottom">
    <div class="title">
      <p>Chevalier</p>
    </div>
    <div class="avatar">
      <%= image_tag "avatar.png", class: "avatar" %>
    </div>
    <div class="badge">
      <%= image_tag "badge.svg", height: 30, width: 30 %>
    </div>
  </div>
<% end %>
