<% if user_signed_in? %>
  <div class="navbar-items">
    <div class="title">
      <p>Explorateur</p>
    </div>
    <div class="avatar">
      <%= image_tag "steve-zissou.jpg", class: "avatar avatar-border" %>
    </div>
    <div class="badge">
      <%= image_tag "bike_dribbble.gif", height: 60, width: 60 %>
    </div>
  </div>
<% end %>
