<div class="pt-5">
  <div class="d-flex justify-content-center colibri pt-3">
    <%= image_tag "hummingbird-02.svg", alt: "alttext" %>
  </div>
  <div class="d-flex justify-content-center align-items-center my-3">
    <h1 class="font-home">Colibri</h1>
  </div>
  <div class="d-flex justify-content-center align-items-center pt-5">
    <%= link_to 'Start', profile_path(current_user), class: "btn-home" %>
  </div>
</div>
