.btn-color{
  border-radius: 4px;
  padding: 13px;
  color: white;
  font-size: 17px;
  background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%) !important;
  background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
}

a.btn-delete {
  font-size: 16px;
  color: black;
  opacity: .7;
  text-decoration: none;
}

.btn-success {
  border-radius: 4px;
  padding: 7px;
}

.btn-home{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%) !important;;
  border-radius: 25px;
  font-weight: bold;
  position: relative;
  width: 150px;
  height: 50px;
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    top: 0;
    left: 0;
    // background-color: $corail;
  }
  &::before {
    animation: sonar-effect 1s ease-in-out .1s infinite;
    color: white;
  }
}

@keyframes sonar-effect {
  100% {
    box-shadow: 0 0 0 5px $corail, 0 0 10px 10px $corail, 0 0 0 10px $corail;
    opacity: 0;
  }
}
