.btn-color{
  border-radius: 4px;
  padding: 13px;
  color: white;
  font-size: 17px;
  background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%) !important;
  background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
}

.btn-color a {
  color: black;
  font-weight: bold;
}

a.btn-delete {
  font-size: 16px;
  color: black;
  opacity: .7;
  text-decoration: none;
}

.btn-success {
  border-radius: 4px;
  padding: 7px;
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(255, 93, 108, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(255, 93, 108, 0);
  }
}

.example-1
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  width: 150px;
  height: 50px;
  font: 13px/130px 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  background: rgb(255, 93, 108);
  border-radius: 25px;
  animation: shadow-pulse 1s ease-in-out infinite;
}
