// Level cards
.accordion > .card {
  align-items: center;
  padding: 10px;
}

.accordion > .color-level-1 {
  background-color: #05dfd7;
}

.accordion > .color-level-2 {
  background-color: #512c96;
}

.accordion > .color-level-3 {
  background-color: #1089ff;
}

.accordion > .card > .card-header {
  background-color: #fffdf9;
  text-align: center;
  // padding: 10px;
  border-radius: 50px;
  margin-bottom: -1px;
  height: 70px;
  width: 300px;
}

.title-quest-level {
  font-size: 24px;
  font-weight: bold;
  color: #512b58;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
  box-shadow: none;
}

.btn-link:hover {
  color: #035ac1;
  text-decoration: none;
}

// Quest cards
.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  opacity: .7;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

