// css of the 3 cards LEVEL: 1, 2 and 3
.levels-position {
  position: relative;
  width: 110%;
  height: 100%;
}

.card-level {
  position: absolute;
  display: flex;
  flex-direction: unset;
  align-items: baseline;
  padding-left: 10px;
  height: 510px;
  width: 380px;
  overflow: hidden;
  transition: left 0.6s ease-out;
  border-radius: 10px;
}

.card-width {
  width: 90%;
  overflow-y: scroll;
  height: 100%;
  padding-left: 80px;
}

.title-quest-level {
  font-size: 20px;
  color: white;
  transform: rotate(-90deg);
  transform-origin: right bottom;
  top: -33px;
  width: 100%;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 10px 0;
  text-align: right;
}

.color-level-1 {
  background-color: #a8e6cf;
  z-index: 3;
  left: -240px;
  top: 30px;
  // transform: rotate(-2deg);
}

.color-level-2 {
  background-color: #ffd3b6;
  z-index: 2;
  left: -45px;
  top: 40px;
  margin-top: 20px;
  transform: rotate(2deg);
}

.color-level-3 {
  background-color: #ffaaa5;
  z-index: 1;
  left: -15px;
  top: 60px;
  margin-top: 30px;
  transform: rotate(4deg);
}

.levels-position.level1-open{
  .color-level-1{
    left: -75px;
    // transform: rotate(3deg);
  }
  .color-level-2{
    left: -45px;
  }
  .color-level-3{
    left: -15px;
    // transform: rotate(6deg);
    // margin-top: 60px;
  }
}

.levels-position.level2-open{
  .color-level-1{
    left: -345px;
    // transform: rotate(3deg);
  }
  .color-level-2{
    left: -45px;
  }
  .color-level-3{
    left: -15px;
    // transform: rotate(0deg);
    // margin-top: 70px;
  }
}

.levels-position.level3-open{
  .color-level-1{
    left: -345px;
    // transform: rotate(3deg);
  }
  .color-level-2{
    left: -315px;
  }
  .color-level-3{
    left: -15px;
    // transform: rotate(4deg);
    // margin-top: 60px;
  }
}

//clouds
.cloud-1 {
  position: absolute;
  left: 50px;
  height: 40px;
  width: 60px;
}

// .cloud-2 {
//   position: absolute;
//   left: 250px;
//   height: 50px;
//   width: 80px;
// }

.farm{
  position: absolute;
  height: 200px;
  width: 380px;
  top: 560px;
  left: 0px;
  right: 0px;
}

.cloud-3 {
  position: absolute;
  left: 270px;
  height: 50px;
  width: 110px;
  top: 0px;
}

// css of the cards QUEST
.card-quest-infos {
  position: relative;
  background-color: white;
  height: 210px;
  width: 240px;
  font-size: 30px;
  border-radius: 25px;
  margin: 30px 0px;
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2)
}

.card-quest-infos img {
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  top: 115px;
  left: 134px;
}

a:hover {
  text-decoration: none;
}

.card-quest-infos h3 {
  text-decoration: none;
  border-radius: 50%;
  color: #445255;
  padding: 20px 40px 0px 20px;
  text-transform: initial;
  font-size: 26px;
}

.card-quest-image a {
  background-size: cover !important;

}

.card-product-infos .score_information {
  position: absolute;
  top: 160px;
  right: 10px;
  color: black;
  background-color: #ffffffc9;
  border-radius: 25px;
  padding: 8px 12px;
}

.score_information h6 {
  font-size: 24px !important;
  margin-top: 0px !important;
}

.card-quest-points {
  position: absolute;
  font-size: 18px;
  right: 130px;
  top: 140px;
  padding: 12px 16px;
span {
  font-size: 18px;
  font-weight: bold;
}}

.card-quest-starter {
  position: absolute;
  top: 155px;
  left: 180px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  padding: 8px;
  color: #FEFBEC;
  background-color: $corail;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.card-product-wrapper {
  display: inline-block;
  width: 100%;
  flex: 0 0 auto;
}

.card-product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product h6 {
  font-size: 22px;
  line-height: 1.4;
  // opacity: .7;
  font-weight: bold;
  color: black;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px 0px 0px 0px;
}

.card-product-infos .column{
  padding-left: 10px;
  border-left: 1px double grey;
  position: absolute;
  left: 500px;
}

.card-review p {
  margin-bottom: 0px;
  color: $gray;
}

.card-description-quest h4 {
  font-size: 23px;
}

@media all and (max-width: 500px) {

  .card-product {
    flex-direction: column;
    height: 100%;
    width: 97%;
    margin: auto;
    img {
      // width: 100%;
    }
  }
}
