// css of the 3 cards LEVEL: 1, 2 and 3
.accordion-position {
  position: absolute;
  top: 0;
}

.accordion > .card {
  align-items: center;
  padding: 10px;
  border: 8px solid black;
}

.accordion > .card > .card-header {
  background-color: #fffdf9;
  text-align: center;
  border-radius: 50px;
  margin-bottom: -1px;
  height: 70px;
  width: 300px;
}

.accordion > .color-level-1 {
  background-color: #05dfd7;
}

.accordion > .color-level-2 {
  background-color: #1089ff;
}

.accordion > .color-level-3 {
  background-color: #512c96;
}

.title-quest-level {
  font-size: 24px;
  font-weight: bold;
  color: #512b58;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
  box-shadow: none;
}

.btn-link:hover {
  color: #035ac1;
  text-decoration: none;
}

// css of the cards QUEST
.card-quest {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 15px;
}

.card-quest img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-quest .card-quest-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-quest h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-quest p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-quest-infos .card-quest-points {
  background: #ffffffc9;
  padding: 8px 16px;
  border-radius: 25px;
  position: absolute;
  right: 10px;
  top: -40px;
span {
  font-size: 12px;
  font-weight: bold;
}


  // background-color: #fffdf9;
  // padding-left: 8px;
  // border: 1px solid black;
  // border-radius: 10px;
  // width: 40px;
}

.card-quest h3 {
  font-size: 12px;
  margin: 0;
}
