#profiles-show .personnal {
  background-image: url(image-path('personnal1.svg'));
  opacity: 1;
}

#quests-index .quests {
  background-image: url(image-path('quests1.svg'));
  opacity: 1;
}

#quests-show .quests {
  background-image: url(image-path('quests1.svg'));
  opacity: 1;
}

#world-show .world {
  background-image: url(image-path('world1.svg'));
  opacity: 1;
}

#settings-show .settings {
  background-image: url(image-path('settings.svg'));
  opacity: 1;
}

.personnal, .quests, .world, .settings {
  height: 50px;
  width: 50px;
  background-size: cover;
  opacity: 0.6;
}

.personnal {
  background-image: url(image-path('personnal-inactive1.svg'));
}

.quests {
  background-image: url(image-path('quests-inactive1.svg'));
}

.world {
  background-image: url(image-path('world-inactive1.svg'));
}

.settings {
  background-image: url(image-path('settings-inactive.svg'));
}

.footer {
  // background: #00897B;
  background: #55ae77;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  color: rgba(0,0,0,0.3);
  border-top: 4px solid black;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
