.navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  // background: #00897B;
  background: #55ae77;
  height: 70px;
  color: black;
  border-bottom: 4px solid black;
}

.avatar {
  position: relative;
  top: 7px;
  height: 80px;
  width: 80px;
  z-index: 1;
}

.avatar-border {
  border: 3px solid black;
}

.title p {
  width: fit-content;
  margin: auto;
  font-size: 17px;
  color: black;
  font-weight: bold;
}

.badge {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  width: 40%;
  display: flex;
  align-items: center;
}
