.navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  height: 70px;
  color: black;
  // margin-bottom: 20px;
}

.avatar {
  position: relative;
  top: 5px;
  height: 80px;
  width: 80px;
}

p {
  font-size: 10px;
}
