.navbar-items {
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  // background: #00897B;
  background: white;
  height: 60px;
  // border-bottom: 4px solid black;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  top: 0;
}

.avatar {
  position: relative;
  top: 7px;
  height: 80px;
  width: 80px;
  z-index: 1;
  box-shadow: 0 9px 8px -3px rgba(0, 0, 0, 0.2);
}

.avatar-border {
  // border: 3px solid black;
}

.title p {
  width: fit-content;
  margin: auto;
  font-size: 35px;
  color: black;
  font-weight: bold;
}

.badge {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  width: 40%;
  display: flex;
  align-items: center;
  font-family: 'Grand Hotel', cursive;
}
